<section class= "box2" id="3reasons">
    <article class="reasons">
        <h2 class="title_3reasons">3 Reasons To Purchase</h2>
        <div class="reason-block 1">
            <h3 class="reason-title 1">Ut sed metus</h3>
            <p class="reason-text 1">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reason-block 2">
            <h3 class="reason-title 2">Ut sed metus</h3>
            <p class="reason-text 2">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reason-block 3">
            <h3 class="reason-title 3">Ut sed metus</h3>
            <p class="reason-text 3">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="click box-more"><a class= "more-reasons" href="">More reasons</a></div>
    </article>
</section>
            

