
    <section class="box3 central-column">
        <nav class="navlist">
          <ul class="firstList">
            <li>
            <a class="articles" href="https://adalab.es/blog" target="_blank">Articles</a>
          </li>
          <li>
            <a class="books" href="https://adalab.es/blog" target="_blank">Books</a>
          </li>
          <li>
            <a class="events" href="https://adalab.es/calendario-de-la-programadora-2021/" target="_blank">Events</a>
          </li>          <li>
            <a class="reasonslist" href="https://adalab.es/cursos-desarrollo-web/" target="_blank">Reasons</a>
          </li>          <li>
            <a class="tips" href="https://adalab.es/cursos-desarrollo-web/" target="_blank">Tips</a>
          </li>
          </ul>
        </nav>
        <nav class= "navlist">
          <ul class="secondList">
            <li>
              <a class="twitter" href="https://twitter.com/Adalab_Digital" target="_blank">Twitter</a>
            </li>          <li>
              <a class="instagram" href="https://www.instagram.com/adalab_digital/" target="_blank">Instagram</a>
            </li>          <li>
              <a class="linkedin" href="https://www.linkedin.com/company/adalab/?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf" target="_blank">Mastodon.social</a>
            </li>
          </ul>
        </nav>
        <div class="rightsandwe"><small class="rights">&copy;2021 </small><br>
        <small class="components">we <i class="fa fa-heart" aria-hidden="true"></i> components</small>
        </div>
    </section>
