<header class="header">
    <div class="hero">
      <section class="header-container central-column"> 
        <div class="menu"><a class="ham-icon" href="https://adalab.es/" target="_blank"><include src="./menuLink.html"></include></a></div>
        <h1 class="header-title">Anonymous Proxy</h1>
        <h2 class="header-text">In hac habitasse platea dictumst.</h2>
        <div class="click downArrow"><a class= "arrowHeader" href="./index.html#insomniaTips"><include src="./downArrow.html"></include></a></div>
        </div>
      </section>
  </header>